@font-face {
  font-family: Veneer3;
  src: url('./assets/VeneerThree.ttf') format('truetype');
}

@font-face {
  font-family: Veneer;
  src: url('./assets/Veneer.ttf') format('truetype');
}

@font-face {
  font-family: Claredon;
  src: url('./assets/Clarendon-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Veneer3, sans-serif, Clarendon;
  letter-spacing: 0.5vmin;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #44a3da;
}

h2,
h3 {
  color: #043552;
}
